<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletEx01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>servlet01.ServletEx01</servlet-class>
		<init-param>
			<param-name>exampleParam</param-name>
			<param-value>exampleValue</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myServlet</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>

<!--	<filter>-->
<!--		<filter-name>LoggingFilter</filter-name>-->
<!--		<filter-class>filter.LoggingFilter</filter-class>-->
<!--	</filter>-->
<!--	<filter-mapping>-->
<!--		<filter-name>LoggingFilter</filter-name>-->
<!--		<url-pattern>/*</url-pattern>-->
<!--	</filter-mapping>-->

	<filter>
		<filter-name>filter</filter-name>
		<filter-class>filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

<!--	<listener>-->
<!--		<listener-class>mylistener.FirstListener</listener-class>-->
<!--	</listener>-->
<!--	<listener>-->
<!--		<listener-class>mylistener.SecondListener</listener-class>-->
<!--	</listener>-->
</web-app>