@charset "UTF-8";
.input-icon {
    position: absolute;
    right: 10px; /* 오른쪽 여백 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 중앙 정렬을 위한 변환 */
    pointer-events: none; /* 아이콘이 클릭되지 않도록 설정 */
}